<div class="modal fade" id="invite-modal" data-controller="forms" tabindex="-1" aria-labelledby="invite-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invite someone to <%= project.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-action="click->forms#clean">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_with(
              model: [project, invite], class: 'col-md-10 offset-md-1',
              html: { data: { 
                type: "html",
                action: "ajax:error->forms#onSubmitError" }}) do |form| %>
          <div class="mb-3">
            <div data-target="forms.errorsList"></div>
          </div>
          <div class="mb-3">
            <%= form.text_field_with_label :emails, placeholder: 'Eg. user1@email.com, user2@email.com...', autofocus: true, data: { target: 'forms.input' } %>
          </div>
          <%= form.submit 'Send', class: 'btn btn-primary btn-block', data: { target: 'forms.submitButton', disable_with: 'Sending...' } %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-action="click->forms#clean">Close</button>
      </div>
    </div>
  </div>
</div>
