<div class="modal fade" id="invite-modal" tabindex="-1" aria-labelledby="invite-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Invite someone to <%= project.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_with(model: [project, invite], class: 'col-md-10 offset-md-1') do |form| %>
          <div class="mb-3">
            <%= form.email_field_with_label :email, autofocus: true %>
          </div>
          <%= form.submit 'Send', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
