.project-page {
  &__avatars {
    display: flex;
    line-height: 1;
    padding-left: 0;
    margin-bottom: 0;

    &__item {
      list-style: none;
      margin-right: -8px;

      a {
        height: 40px;
        width: 40px;
        -webkit-box-align: stretch;
        align-items: stretch;
        background-color: white;
        border-radius: 50%;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        outline: none;
        overflow: hidden;
        transform: translateZ(0px);
        transition: transform 200ms ease 0s, opacity 200ms ease 0s;
        box-shadow: white 0px 0px 0px 2px;
        border: none;
        margin: 2px;
        padding: 0px;
        position: relative;
        cursor: pointer;

        &:last-child {
          background-color: $gray;
          color: white;
          text-align: center;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__content {
    background-color: $alice-blue;
    border-radius: 30px;
    margin: 0 -17px -32px -17px;

    .card {
      border-radius: 15px;

      &.empty-card {
        background-color: $light-gray;
        border-style: dashed;
        border-width: 3px;
      }
    }
  }
}
