.project-page {
  &__content {
    background-color: $alice-blue;
    border-radius: 30px;
    margin: 0 -17px -32px -17px;

    .card {
      border-radius: 15px;

      &.empty-card {
        background-color: $light-gray;
        border-style: dashed;
        border-width: 3px;
      }
    }
  }
}
