@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

#main-layout {
  background-color: #F8F9FA;
}

#wrapper {
  overflow-x: hidden;
}

#content-wrapper {
  width: 100%;
}

.logo {
  &__primary-text {
    font-family: 'Pacifico', cursive;
  }

  &__secondary-text {
    color: $blue;
    font-weight: bold;
  }
}
