<%= form_with(
      model: [@project, @task, @comment],
      html: { data: { 
                controller: "reflex-form",
                reflex_form_reflex: "CommentReflex#create" }}) do |form| %>
  <div class="mb-3">
    <%= form.rich_text_area :content, data: { target: 'reflex-form.focus' } %>
  </div>
  <%= form.submit 'Comment', class: 'btn btn-primary btn-block', data: { action: 'click->reflex-form#submit' } %>
<% end %>
