<div class="task card mb-3">
  <%= link_to project_task_url(@task.label.labelable, @task), class: 'stretched-link' do %>
    <div class="card-body">
      <h6><%= @task.title %></h6>
      <div class="d-flex align-items-center justify-content-between">
        <small class="text-muted"><%= upcase_task_slug %></small>
        <% if @task.assignee %>
          <%= render(UserAvatarComponent.new(user: @task.assignee, size: 25)) %>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="task__comments">
        <i class="fas fa-comments mr-1"></i>
        <small>5</small>
      </div>
    </div>
  <% end %>
</div>
