<div class="task card mb-3">
  <%= link_to project_task_url(task.label.labelable, task), class: 'stretched-link' do %>
    <div class="card-body">
      <h6><%= task.title %></h6>
      <div class="d-flex align-items-center justify-content-between">
        <small class="text-muted"><%= task.slug.upcase %></small>
        <%= image_tag 'avatar.png', height: 25, width: 25, class: "rounded-circle" %>
      </div>
    </div>
    <div class="card-footer">
      <div class="task__comments">
        <i class="fas fa-comments mr-1"></i>
        <small>5</small>
      </div>
    </div>
  <% end %>
</div>
