<% flash.each do |alert_type, message| %>
  <div class="alert <%= alert_class_for(alert_type) %> alert-dismissible fade show" role="alert">
    <span><%= message %></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
