<div class="container min-vh-100">
  <div class="row min-vh-100">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="logo display-2">
        <span class="logo__primary-text">Follow</span>
        <span class="logo__secondary-text">Up</span>
      </h1>
      <div class="mt-3">
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-outline-secondary' %>
        <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
