<div class="container min-vh-100">
  <div class="row min-vh-100">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1>FollowUp</h1>
      <div>
        <%= link_to "Log In", new_user_session_path, class: 'btn btn-outline-secondary' %>
        <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
