$blue: #2196F3;
$green: #4caf50;
$gray: #9e9e9e;
$light-blue: #4fc3f7;
$light-gray: #F8F9FA;
$dark-blue: #1976d2;
$ghost-white: #F4F6FD;
$solitude: #E7ECF9;
$twitter-blue: #1bb2e9;
$dark-twitter-blue: #2795E9;
