<% if @projects.any? %>
  <div class="d-flex align-items-center justify-content-between mb-5">
    <h2>Projects</h2>
    <%= link_to new_project_path, class: 'btn btn-outline-primary' do %>
      <i class="fas fa-plus mr-1"></i>
      New Project
    <% end %>
  </div>

  <section>
    <div class="row px-3">
      <%= render @projects %>
    </div>
  </section>
<% else %>
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4 d-flex flex-column align-items-center">
          <i class="fas fa-tasks"></i>
          Create your first project
        </h1>
        <div class="mt-3">
          <%= link_to 'Click here', new_project_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
