#sidebar__wrapper {
  min-height: 100vh;

  .sidebar__content {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 4rem;

    a.sidebar__item {
      align-items: center;
      color: $gray;
      font-size: 1.3rem;
      display: flex;
      height: 45px;
      justify-content: center;
      transition: all .25s ease;
      width: 45px;

      &:hover, &.active {
        background-color: $blue;
        border-radius: 50%;
        color: white;
      }
    }
  }
}

@media (max-width: 576px) {
  #sidebar__wrapper {
    .sidebar__content {
      width: 2rem;

      a.sidebar__item {
        font-size: .9rem;
        height: 35px;
        width: 35px;
      }
    }
  }
}
